@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
}

#left {
  height: 100%;
  width: 40%;
  background-color: #fff;
  padding: 20px;
  /* margin: 0 10px; */
  position: relative;
}

#back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

#back #l-detail {
  display: flex;
  align-items: center;
}

#back #l-detail a {
  margin-right: 50px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #222;
  opacity: 0.8;
}
#back #l-detail i {
  color: royalblue;
  font-size: 18px;
}

#left #text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text-center h1 {
  font-size: 90px;
  font-weight: 900;
}

#text-center #text-paragraph p {
  font-size: 13px;
  color: #222;
  opacity: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 25px;
}

#text-center #text-paragraph a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #111;
  padding-bottom: 8px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
}

#right {
  height: 100%;
  width: 60%;
}
#rtop {
  height: 50%;
  width: 100%;
  display: flex;
}

#rright {
  height: 100%;
  width: 45%;
background-image: url(https://images.unsplash.com/photo-1608156639585-b3a032ef9689?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-position: center;
background-size: cover;
}
#rleft {
  height: 100%;
  width: 55%;
background-image: url(https://images.unsplash.com/photo-1535925191244-17536ca4f8b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-position: center;
background-size: cover;
}

#rbottom {
  height: 50%;
  width: 100%;
 background-image: url(https://images.unsplash.com/photo-1556888335-95371827d5fb?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
 background-position: center;
 background-size: cover;
}


/* Responsive styles for screens with max width of 500px */
@media (max-width: 500px) {
    #left {
      padding: 5px;
    }
  
    #back #l-detail a {
      margin-right: 20px;
      font-size: 14px;
    }
  
    #back #l-detail i {
      font-size: 16px;
    }
  
    #text-center h1 {
      font-size: 40px;
    }
  
    #text-center #text-paragraph p {
      font-size: 11px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    #text-center #text-paragraph a {
      font-size: 12px;
    }
  }